<!DOCTYPE html>
<html>
<head>
    <title>Page not found - Weather App</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}

        <h1>404 - {{message}}</h1>
    </div>

    {{>footer}}
</body>
</html>